* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.nav {
  background-color: white;
}

.Navs {
  margin-left: 67%;
  font-size: 17px;
  font-weight: 500;
}

.logo {
  height: 50px;
}

.firstContent {
  margin-bottom: 4%;
  padding-top: -10%;
}

.ayhswan{
  align-content: center;
  justify-content: center;
}


.s3pic {
  height: 450px;
  margin-bottom: 20px;
}

.s3pic2 {
  height: 450px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.foot {
  background-color: #1b1b1b;
  color: gray;
}

.subT {
  font-size: 18px;
  letter-spacing: 3px;
}

.titlelog {
  font-size: 45px;
  font-weight: 600;
  padding-top: 20px;
  letter-spacing: 3px;
}

.bglog {
  background-color: #d1eff9;
  padding-bottom: 30px;
}

.icon {
  padding-left: 6px;
  padding-right: 6px;
}

.login {
  padding-top: 10px;
}

.emailForm{
  padding-bottom: -30%;
}

.welcome {
  font-size: 60px;
  font-weight: 500;
}

.para1 {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 20px;
  padding-bottom: 30px;
}

.w-50 {
  margin-bottom: 90px;
}

.Shopcat {
  font-weight: 500;
  padding-bottom: 30px;
}

.arriv {
  padding-top: 70px;
  font-weight: 700;
  padding-bottom: 30px;
  font-size: 50px;
}

.fashion {
  letter-spacing: 6px;
  font-size: 11px;
}

.fasH {
   margin-top: -20px;
   font-size: 50px;
   font-weight: 500;
   margin-bottom: -5px;
}

.fashp {
  font-size: 15px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
  font-weight: 100;
}

.TiCloth {
  font-size: 40px;
}

.Shopcat {
  font-weight: 600;
}

.products {
  background-color: #d1eff9;
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 3px;
}

.fix {
  margin-left: 10%;
  margin-right: -10%;
}